<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.emsystem.model.dao.AnnounceMapper">
  <resultMap id="BaseResultMap" type="com.hl.emsystem.model.pojo.Announce">
    <id column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Type" jdbcType="CHAR" property="type" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="People" jdbcType="VARCHAR" property="people" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    Title, `Type`, `Time`, People, Content
  </sql>

  <select id="selectAllNotice" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from announce
    </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from announce
    where Title = #{title,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from announce
    where Title = #{title,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hl.emsystem.model.pojo.Announce">
    insert into announce (Title, `Type`, `Time`, 
      People, Content)
    values (#{title,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{people,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hl.emsystem.model.pojo.Announce">
    insert into announce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        Title,
      </if>
      <if test="type != null">
        `Type`,
      </if>
      <if test="time != null">
        `Time`,
      </if>
      <if test="people != null">
        People,
      </if>
      <if test="content != null">
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="people != null">
        #{people,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hl.emsystem.model.pojo.Announce">
    update announce
    <set>
      <if test="type != null">
        `Type` = #{type,jdbcType=CHAR},
      </if>
      <if test="time != null">
        `Time` = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="people != null">
        People = #{people,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        Content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where Title = #{title,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hl.emsystem.model.pojo.Announce">
    update announce
    set `Type` = #{type,jdbcType=CHAR},
      `Time` = #{time,jdbcType=TIMESTAMP},
      People = #{people,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR}
    where Title = #{title,jdbcType=VARCHAR}
  </update>
</mapper>