<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.emsystem.model.dao.BoothMapper">
  <resultMap id="BaseResultMap" type="com.hl.emsystem.model.pojo.Booth">
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="RecuAddress" jdbcType="VARCHAR" property="recuaddress" />
    <result column="BoothNum" jdbcType="INTEGER" property="boothnum" />
    <result column="BoothLayout" jdbcType="VARCHAR" property="boothlayout" />
    <result column="JobFairPlace" jdbcType="INTEGER" property="jobfairplace" />
  </resultMap>
  <insert id="insert" parameterType="com.hl.emsystem.model.pojo.Booth">
    insert into booth (Title, RecuAddress, BoothNum, 
      BoothLayout, JobFairPlace)
    values (#{title,jdbcType=VARCHAR}, #{recuaddress,jdbcType=VARCHAR}, #{boothnum,jdbcType=INTEGER}, 
      #{boothlayout,jdbcType=VARCHAR}, #{jobfairplace,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hl.emsystem.model.pojo.Booth">
    insert into booth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        Title,
      </if>
      <if test="recuaddress != null">
        RecuAddress,
      </if>
      <if test="boothnum != null">
        BoothNum,
      </if>
      <if test="boothlayout != null">
        BoothLayout,
      </if>
      <if test="jobfairplace != null">
        JobFairPlace,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="recuaddress != null">
        #{recuaddress,jdbcType=VARCHAR},
      </if>
      <if test="boothnum != null">
        #{boothnum,jdbcType=INTEGER},
      </if>
      <if test="boothlayout != null">
        #{boothlayout,jdbcType=VARCHAR},
      </if>
      <if test="jobfairplace != null">
        #{jobfairplace,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>