<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.emsystem.model.dao.GraStudentMapper">
  <resultMap id="BaseResultMap" type="com.hl.emsystem.model.pojo.GraStudent">
    <id column="Stu_id" jdbcType="BIGINT" property="stuId" />
    <id column="StuNo" jdbcType="CHAR" property="stuno" />
    <result column="StuName" jdbcType="CHAR" property="stuname" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="Sex" jdbcType="CHAR" property="sex" />
    <result column="BirthDate" jdbcType="DATE" property="birthdate" />
    <result column="Nation" jdbcType="CHAR" property="nation" />
    <result column="politic" jdbcType="CHAR" property="politic" />
    <result column="Major" jdbcType="CHAR" property="major" />
    <result column="FacName" jdbcType="CHAR" property="facname" />
    <result column="Degree" jdbcType="CHAR" property="degree" />
    <result column="Academic" jdbcType="CHAR" property="academic" />
    <result column="Cultivate" jdbcType="CHAR" property="cultivate" />
    <result column="Birthplace" jdbcType="CHAR" property="birthplace" />
  </resultMap>
  <sql id="Base_Column_List">
    Stu_id, StuNo, StuName, Age, Sex, BirthDate, Nation, politic, Major, FacName, `Degree`, Academic,
    Cultivate, Birthplace
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grastudent
    where StuNo = #{stuno,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grastudent
    where StuNo = #{stuno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.hl.emsystem.model.pojo.GraStudent">
    insert into grastudent (StuNo, StuName, Age, 
      Sex, BirthDate, Nation, 
      politic, Major, FacName, `Degree`, 
      Academic, Cultivate, Birthplace
      )
    values (#{stuno,jdbcType=CHAR}, #{stuname,jdbcType=CHAR}, #{age,jdbcType=INTEGER},
      #{sex,jdbcType=CHAR}, #{birthdate,jdbcType=DATE}, #{nation,jdbcType=CHAR},
      #{politic,jdbcType=CHAR}, #{major,jdbcType=CHAR}, #{facname,jdbcType=CHAR}, #{degree,jdbcType=CHAR}, 
      #{academic,jdbcType=CHAR}, #{cultivate,jdbcType=CHAR}, #{birthplace,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hl.emsystem.model.pojo.GraStudent">
    insert into grastudent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        StuNo,
      </if>
      <if test="stuname != null">
        StuName,
      </if>
      <if test="age != null">
        Age,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="birthdate != null">
        BirthDate,
      </if>
      <if test="nation != null">
        Nation,
      </if>
      <if test="politic != null">
        politic,
      </if>
      <if test="major != null">
        Major,
      </if>
      <if test="facname != null">
        FacName,
      </if>
      <if test="degree != null">
        `Degree`,
      </if>
      <if test="academic != null">
        Academic,
      </if>
      <if test="cultivate != null">
        Cultivate,
      </if>
      <if test="birthplace != null">
        Birthplace,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        #{stuno,jdbcType=CHAR},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=CHAR},
      </if>
      <if test="politic != null">
        #{politic,jdbcType=CHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=CHAR},
      </if>
      <if test="facname != null">
        #{facname,jdbcType=CHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=CHAR},
      </if>
      <if test="academic != null">
        #{academic,jdbcType=CHAR},
      </if>
      <if test="cultivate != null">
        #{cultivate,jdbcType=CHAR},
      </if>
      <if test="birthplace != null">
        #{birthplace,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hl.emsystem.model.pojo.GraStudent">
    update grastudent
    <set>
      <if test="stuname != null">
        StuName = #{stuname,jdbcType=CHAR},
      </if>
      <if test="age != null">
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthdate != null">
        BirthDate = #{birthdate,jdbcType=DATE},
      </if>
      <if test="nation != null">
        Nation = #{nation,jdbcType=CHAR},
      </if>
      <if test="politic != null">
        politic = #{politic,jdbcType=CHAR},
      </if>
      <if test="major != null">
        Major = #{major,jdbcType=CHAR},
      </if>
      <if test="facname != null">
        FacName = #{facname,jdbcType=CHAR},
      </if>
      <if test="degree != null">
        `Degree` = #{degree,jdbcType=CHAR},
      </if>
      <if test="academic != null">
        Academic = #{academic,jdbcType=CHAR},
      </if>
      <if test="cultivate != null">
        Cultivate = #{cultivate,jdbcType=CHAR},
      </if>
      <if test="birthplace != null">
        Birthplace = #{birthplace,jdbcType=CHAR},
      </if>
    </set>
    where StuNo = #{stuno,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hl.emsystem.model.pojo.GraStudent">
    update grastudent
    set StuName = #{stuname,jdbcType=CHAR},
      Age = #{age,jdbcType=INTEGER},
      Sex = #{sex,jdbcType=CHAR},
      BirthDate = #{birthdate,jdbcType=DATE},
      Nation = #{nation,jdbcType=CHAR},
      politic = #{politic,jdbcType=CHAR},
      Major = #{major,jdbcType=CHAR},
      FacName = #{facname,jdbcType=CHAR},
      `Degree` = #{degree,jdbcType=CHAR},
      Academic = #{academic,jdbcType=CHAR},
      Cultivate = #{cultivate,jdbcType=CHAR},
      Birthplace = #{birthplace,jdbcType=CHAR}
    where StuNo = #{stuno,jdbcType=CHAR}
  </update>
</mapper>