<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.emsystem.model.dao.RabcMapper">

    <resultMap id="Node" type="com.hl.emsystem.model.pojo.Node">
        <id column="node_id" jdbcType="BIGINT" property="nodeId" />
        <result column="node_type" jdbcType="INTEGER" property="nodeType" />
        <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="node_code" jdbcType="INTEGER" property="nodeCode" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        node_id, node_type, node_name, url, node_code, parent_id, icon, `status`
    </sql>



    <select id="selectNodeByUserId" parameterType="Long" resultType="com.hl.emsystem.model.pojo.Node">
        select DISTINCT n.*
        from sys_role_user ru , sys_role_node rn , sys_node n
        where
            ru.role_id = rn.role_id and rn.node_id = n.node_id
          and ru.user_id = #{value}
        order by n.node_code
    </select>
    
    <select id="selectUserAllocatedByRoleId" parameterType="Long" resultType="com.hl.emsystem.model.pojo.User">
        SELECT su.user_id,  ap.`name`, su.username, su.email, su.phone , ad.department_name
        FROM adm_people as ap,adm_department as ad,sys_user as su,sys_role_user as sru, sys_role as sr
        WHERE #{value} = sru.role_id AND sru.user_id = su.user_id AND su.people_id = ap.people_id AND ap.department_id = ad.department_id
        GROUP BY su.user_id
    </select>

    <select id="selectTreeIdListByRoleId" resultType="Long">
        select n.node_id
        from sys_node n
        left join sys_role_node rn on n.node_id = rn.node_id
        where rn.role_id = #{roleId}
        order by n.node_code
    </select>

    <select id="selectMenuListByUserId" parameterType="com.hl.emsystem.model.pojo.Node" resultMap="Node">
        select distinct n.node_id, n.node_type,n.node_name,n.url,n.node_code,n.parent_id,
                        n.icon,n.status
        from sys_node n
                 left join sys_role_node rn on n.node_id = rn.node_id
                 left join sys_role_user sru on rn.role_id = sru.role_id
                 left join sys_role ro on sru.role_id = ro.role_id
    </select>
</mapper>