<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.emsystem.model.dao.SysRoleUserMapper">
  <resultMap id="BaseResultMap" type="com.hl.emsystem.model.pojo.SysRoleUser">
    <id column="ru_id" jdbcType="BIGINT" property="ruId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    ru_id, role_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_user
    where ru_id = #{ruId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role_user
    where ru_id = #{ruId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hl.emsystem.model.pojo.SysRoleUser">
    insert into sys_role_user (ru_id, role_id, user_id
      )
    values (#{ruId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hl.emsystem.model.pojo.SysRoleUser">
    insert into sys_role_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruId != null">
        ru_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruId != null">
        #{ruId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hl.emsystem.model.pojo.SysRoleUser">
    update sys_role_user
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where ru_id = #{ruId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hl.emsystem.model.pojo.SysRoleUser">
    update sys_role_user
    set role_id = #{roleId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where ru_id = #{ruId,jdbcType=BIGINT}
  </update>

  <select id="selectRoleIdByUserId" resultType="java.lang.Long" >
    SELECT DISTINCT sr.role_id
    FROM sys_user as su,sys_role_user as sru, sys_role as sr
    WHERE su.user_id=#{userId,jdbcType=BIGINT} AND su.user_id=sru.user_id AND sru.role_id = sr.role_id
  </select>
</mapper>