<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.emsystem.model.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.hl.emsystem.model.pojo.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="people_id" jdbcType="BIGINT" property="peopleId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, `password`, people_id,email,phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT DISTINCT ap.`name`, su.*, ad.department_name
    FROM adm_people as ap,adm_department as ad,sys_user as su,sys_role_user as sru, sys_role as sr
    WHERE su.people_id = ap.people_id AND ap.department_id = ad.department_id AND su.user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectLogin" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hl.emsystem.model.pojo.User">
    insert into sys_user (user_id, username, `password`, 
      people_id)
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{peopleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hl.emsystem.model.pojo.User" useGeneratedKeys="true" keyProperty="userId">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="peopleId != null">
        people_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="peopleId != null">
        #{peopleId,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hl.emsystem.model.pojo.User">
    update sys_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="peopleId != null">
        people_id = #{peopleId,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hl.emsystem.model.pojo.User">
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      people_id = #{peopleId,jdbcType=BIGINT},
        email = #{email,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>


<!--  系统管理中用户管理-->
  <select id="selectAllUser" resultType="com.hl.emsystem.model.pojo.User">
    SELECT DISTINCT ap.`name`, su.*, ad.department_name
    FROM adm_people as ap,adm_department as ad,sys_user as su,sys_role_user as sru, sys_role as sr
    WHERE su.people_id = ap.people_id AND ap.department_id = ad.department_id
    ORDER BY su.user_id ASC
  </select>
  <select id="selectUserByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT DISTINCT ap.`name`, su.*, ad.department_name
    FROM adm_people as ap,adm_department as ad,sys_user as su,sys_role_user as sru, sys_role as sr
    WHERE su.people_id = ap.people_id AND ap.department_id = ad.department_id AND su.username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>